/* #photo-results {
  display: grid;
  align-items: start;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1em;
}

.card-img {
  position: relative;

  img {
    border-radius: 10px;
    width: 100%;
    max-height: auto;
    object-fit: cover;

    transition: all 0.3s ease-in-out;
  }

  .like,
  .download-btn {
    display: none;
  }

  &:hover {
    img {
      transform: scale(1.02);
      filter: blur(3px);
    }
  }
}

.like,
.download-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  img {
    width: 25px;
    height: 25px;
  }
}

.download-btn {
  padding: 5px;
  right: 1em;
  top: 1em;
  background-color: var(--detail-color);
  border-radius: 100%;
  border: 3px solid var(--font-dark);
}

.like {
  gap: 5px;
  bottom: 1em;
  left: 1em;
  font-weight: bold;
  color: var(--font-dark);

  img {
    filter: invert(1);
  }
} */
