footer {
  border: 1px solid red;
  padding: 1em;
  min-width: 100%;
  min-height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  span, a {
    font-weight: 600;
  }
}
